body {
    background-color: green;
    padding-top: 20px;
  }
  
  .container {
    background-color: white;
    width: 400px;
    height: 600px;
    margin: auto;
    border-radius: 10px;
  }
  
  #numero {
    padding-top: 100px;
  }
  
  
  #icono-1 {
    font-size: 90px;
  }
  
  
  #icono-2 {
    font-size: 90px;
  }